
Project3-jamesthew/obj/Debug/net6.0/Project3-jamesthew.GeneratedMSBuildEditorConfig.editorconfig
Project3-jamesthew/obj/Debug/net6.0/Project3-jamesthew.csproj.AssemblyReference.cache
Project3-jamesthew/obj/Debug/net6.0/Project3-jamesthew.assets.cache
Project3-jamesthew/obj/project.nuget.cache
Project3-jamesthew/obj/Project3-jamesthew.csproj.nuget.dgspec.json
Project3-jamesthew/obj/Project3-jamesthew.csproj.nuget.g.props
