
Project3-jamesthew/obj/Debug/net6.0/Project3-jamesthew.GeneratedMSBuildEditorConfig.editorconfig
.vs/API/v17/.suo
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
Project3-jamesthew/.vs/Project3-jamesthew/v17/.suo
Project3-jamesthew/.vs/ProjectSettings.json
Project3-jamesthew/.vs/slnx.sqlite
Project3-jamesthew/.vs/VSWorkspaceState.json
Project3-jamesthew/obj/Debug/net6.0/Project3-jamesthew.assets.cache
Project3-jamesthew/obj/Debug/net6.0/Project3-jamesthew.GeneratedMSBuildEditorConfig.editorconfig
Project3-jamesthew/obj/project.assets.json
Project3-jamesthew/obj/project.nuget.cache
Project3-jamesthew/obj/Project3-jamesthew.csproj.nuget.dgspec.json
Project3-jamesthew/obj/Project3-jamesthew.csproj.nuget.g.props
Project3-jamesthew/obj/Release/net6.0/Project3-jamesthew.assets.cache
Project3-jamesthew/obj/Release/net6.0/Project3-jamesthew.GeneratedMSBuildEditorConfig.editorconfig
