
Project3-jamesthew/obj/Debug/net6.0/Project3-jamesthew.GeneratedMSBuildEditorConfig.editorconfig
.vs/API/v17/.suo
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
Project3-jamesthew/.vs/Project3-jamesthew/v17/.suo
Project3-jamesthew/.vs/ProjectSettings.json
Project3-jamesthew/.vs/slnx.sqlite
Project3-jamesthew/.vs/VSWorkspaceState.json
Project3-jamesthew/obj/Debug/net6.0/Project3-jamesthew.assets.cache
Project3-jamesthew/obj/Debug/net6.0/Project3-jamesthew.GeneratedMSBuildEditorConfig.editorconfig
Project3-jamesthew/obj/project.assets.json
Project3-jamesthew/obj/project.nuget.cache
Project3-jamesthew/obj/Project3-jamesthew.csproj.nuget.dgspec.json
Project3-jamesthew/obj/Project3-jamesthew.csproj.nuget.g.props
Project3-jamesthew/obj/Release/net6.0/Project3-jamesthew.assets.cache
Project3-jamesthew/obj/Release/net6.0/Project3-jamesthew.GeneratedMSBuildEditorConfig.editorconfig
.vs/Project3-jamesthew/DesignTimeBuild/.dtbcache.v2
.vs/Project3-jamesthew/v17/.futdcache.v1
.vs/Project3-jamesthew/v17/.suo
Project3-jamesthew/bin/Debug/net6.0/Project3-jamesthew.dll
Project3-jamesthew/bin/Debug/net6.0/Project3-jamesthew.pdb
Project3-jamesthew/obj/Debug/net6.0/Project3-jamesthew.csproj.AssemblyReference.cache
Project3-jamesthew/obj/Debug/net6.0/Project3-jamesthew.csproj.CoreCompileInputs.cache
Project3-jamesthew/obj/Debug/net6.0/Project3-jamesthew.csproj.FileListAbsolute.txt
Project3-jamesthew/obj/Debug/net6.0/Project3-jamesthew.dll
Project3-jamesthew/obj/Debug/net6.0/Project3-jamesthew.genruntimeconfig.cache
Project3-jamesthew/obj/Debug/net6.0/Project3-jamesthew.pdb
Project3-jamesthew/obj/Debug/net6.0/ref/Project3-jamesthew.dll
Project3-jamesthew/obj/Debug/net6.0/refint/Project3-jamesthew.dll
Project3-jamesthew/obj/staticwebassets.pack.sentinel
.vs/Project3-jamesthew/DesignTimeBuild/.dtbcache.v2
.vs/Project3-jamesthew/v17/.futdcache.v1
.vs/Project3-jamesthew/v17/.suo
Project3-jamesthew/bin/Debug/net6.0/Project3-jamesthew.dll
Project3-jamesthew/bin/Debug/net6.0/Project3-jamesthew.pdb
Project3-jamesthew/obj/Debug/net6.0/Project3-jamesthew.csproj.AssemblyReference.cache
Project3-jamesthew/obj/Debug/net6.0/Project3-jamesthew.csproj.CoreCompileInputs.cache
Project3-jamesthew/obj/Debug/net6.0/Project3-jamesthew.csproj.FileListAbsolute.txt
Project3-jamesthew/obj/Debug/net6.0/Project3-jamesthew.dll
Project3-jamesthew/obj/Debug/net6.0/Project3-jamesthew.genruntimeconfig.cache
Project3-jamesthew/obj/Debug/net6.0/Project3-jamesthew.pdb
Project3-jamesthew/obj/Debug/net6.0/ref/Project3-jamesthew.dll
Project3-jamesthew/obj/Debug/net6.0/refint/Project3-jamesthew.dll
Project3-jamesthew/obj/staticwebassets.pack.sentinel
.vs/Project3-jamesthew/v17/.suo
*.cache
Project3-jamesthew/obj/Debug/net6.0/Project3-jamesthew.assets.cache
Project3-jamesthew/obj/Debug/net6.0/Project3-jamesthew.GeneratedMSBuildEditorConfig.editorconfig
Project3-jamesthew/obj/project.assets.json
Project3-jamesthew/obj/project.nuget.cache
Project3-jamesthew/obj/Project3-jamesthew.csproj.nuget.dgspec.json
Project3-jamesthew/obj/Project3-jamesthew.csproj.nuget.g.props
